@charset "UTF-8";

body {
  text-align: center;
  font-family: "museo-sans", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  color: #444444;
  font-size: 19px;
  padding: 0;
  margin: 0;
}

.main-div-container {
  background-color: aliceblue;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: #444444;
}

p {
  line-height: 1.6;
}

.main-content {
  padding-left: 80px;
  padding-right: 80px;
}

.fixed-width {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: #444444;
  text-decoration: none;
}

/* HEADER ELEMENTS */
header {
  background-image: url(../src/images/Header_The_Biggest_Waiting_Room.png);
  height: 400px;
  width: 100%;
  background-size: cover;
  padding: 20px;
  background-position: center;
}

.header-links {
  display: flex;
  align-items: center;
  /* align-content: center; */
}

.home-button {
  margin: 0;
  padding: 0 25px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.home-button a {
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  /* border: 1px solid pink; */
  width: 300px;
  display: block;
  margin: 0 auto;
}

/*unsure if display: block is necessary? */

.logo-image {
  /* height: 95px; */
  display: block;
}

.pseudo-element {
  color: transparent;
}

/* NAV BUTTON ELEMENTS */
.navigation-buttons {
  display: flex;
  justify-content: space-between;

  position: relative;
  top: -25px;
  width: 80%;
  margin: 0 auto;
}
/* NEED TO CHANGE WITH FLEX!? */

.navigation-buttons.button-container {
  width: 33%;
}

.nav-button {
  color: white;
  border-color: #0099cc;
  background-color: #0099cc;
  padding: 15px 40px 15px 40px;
  border-radius: 100px;
  font-size: 15px;
}

.nav-button.orange-btn,
.nav-button.orange-btn a {
  color: white;
  background-color: #ff6633;
  border-color: #ff6633;
  font-size: 15px;
  padding: 15px 40px 15px 40px;
  /* width: 33%; */
  /* width: 20%; */
}

.nav-button.blue-btn-wide,
.nav-button.nav-button.blue-btn-wide a {
  color: white;
  background-color: #0099cc;
  border-color: #0099cc;
  font-size: 15px;
  padding: 15px 40px 15px 40px;
}
.nav-button.white-btn {
  border: 1px solid #ff6633;
}

.nav-button.white-btn,
.nav-button.white-btn a {
  background-color: white;
  border-color: #ff6633;
  font-size: 15px;
  padding: 15px 40px 15px 40px;
}

/* ABOUT ELEMENTS */

/* .about {
  border: 1px solid blue;
} */

.about-overview {
  padding-top: 15px;
  padding-left: 170px;
  padding-right: 170px;
  margin-top: 50px;
}

h1 {
  font-size: 41px;
}

.about-overview p {
  font-size: 25px;
  line-height: 1.5;
}

.about-video {
  border: 1px solid pink;
  height: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.story-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}
.story-text {
  width: 50%;
  box-sizing: border-box;
  background-color: #f8f4f0;
  width: 50%;
}

.story-text p {
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
  padding: 10%;
  box-sizing: border-box;
}

.story-video {
  width: 50%;
  object-fit: cover;
}

.story-video img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* .learn-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
} */

.learn-button {
  margin-bottom: 80px;
}

/* TV DRAMA ELEMENTS */

/* .tv-drama {
  border: 1px solid blue;
} */

.tv-drama-text {
  width: 50%;
  line-height: 1.5;
  text-align: left;
  background-color: #f8f4f0;
}

.tv-drama-text p {
  padding: 60px;
  font-size: 18px;
}

/* story text + video texts */

/* .about-show-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
} */

.about-show {
  margin-bottom: 80px;
}

/* FLIGHT MAP ELEMENTS */

/* .flight-maps {
  border: 1px solid blue;
} */

.interactive-map {
  border: 1px solid pink;
  height: 400px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* ABOUT NAVIGATION / DETAILS ELEMENTS */

/* .about-navigations {
  border: 1px solid blue;
  width: 100%;
  height: 400px;
} */

.nav-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav-information {
  width: 30%;
  height: 400px;
  border: 1px solid pink;
}

.nav-information a {
  display: inline-block;
}

/* STAFF STORIES ELEMENTS / WORKING FOR RFDS*/

.working-for-rfds {
  padding-top: 20px;
  padding-left: 170px;
  padding-right: 170px;
  margin-bottom: 80px;
}

/* .join-team-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
} */

/* CHARITY STAMPS ELEMENTS */

.stamps-content {
  margin: 80px 0 80px 0;
}

.stamps-image img {
  max-width: 60%;
}

/* FOOTER ELEMENTS */
footer {
  font-size: 17px;
  color: #bbbbbb;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

/* .newsletter-sign-up */

footer h3 {
  font-size: 25px;
  margin: 30px 0 0 0;
  color: white;
  padding-top: 30px;
}

.newsletter-sign-up p {
  margin-top: 0;
}

.newsletter-form {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  padding: 9px 30px;
  border: 1px solid pink;
}

/* .social-media */

.social-media-links a {
  color: white;
}

.footer-text {
  margin: 30px 0 0 0;
}

.footer-bottom-text {
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer-links {
  float: left;
  color: #bbbbbb;
}

.footer-links a {
  color: #bbbbbb;
  /* padding-right: 10px; */
  margin-right: 15px;
  font-size: 15px;
}

.footer-navigation p {
  text-align: right;
  font-size: 15px;
}

.footer-credits {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 13px;
}
