body {
  text-align: center;
  font-family: "museo-sans", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #444444;
}

.fixed-width {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  /* display: flex; */
  /* height: 200px; */
}

a {
  color: #444444;
  text-decoration: none;
}

/* HEADER ELEMENTS */
header {
  border: 1px solid blue;
  background-image: url(../src/images/Copy_of_The_Biggest_Waiting_Room_no_title.af49.png);
  height: 400px;
  /* width: 100%; */
  background-size: cover;
  padding: 20px;
  /* background-position: center; */
}
.header-links {
  display: flex;
  /* gap: 30px; */
}

.home-button {
  border: 1px solid pink;
  width: 160px;
  height: 50px;
}

.logo {
  border: 1px solid pink;
  width: 300px;
  height: 95px;
  display: block;
  margin: 0 auto;
}

.logo-image {
  height: 95px;
  display: block;
}

/* NAV BUTTON ELEMENTS */
.navigation-buttons {
  border: 1px solid blue;
  /* max-width: 80%; */
  display: flex;
  justify-content: space-evenly;
}
/* NEED TO CHANGE WITH FLEX! */

.nav-button {
  border: 1px solid pink;
  width: 160px;
  height: 50px;
}

/* ABOUT ELEMENTS */
.about {
  border: 1px solid blue;
}

.about-overview {
  border: 1px solid pink;
  /* height: 200px; */
}

.about-overview h2 {
  font-size: 40px;
}

.about-overview p {
  font-size: 25px;
  line-height: 1.5;
}

.about-video {
  border: 1px solid pink;
  height: 450px;
}

/* .learn-text ??? */

.story-content {
  display: flex;
  justify-content: space-between;
  height: 500px;
  /* border: 1px solid pink; */
}
.story-text {
  /* height: 300px; */
  width: 50%;
  border: 1px solid pink;
}

.story-text p {
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
}

.story-video {
  /* height: 300px; */
  width: 50%;
  border: 1px solid pink;
}

.learn-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* TV DRAMA ELEMENTS */
.tv-drama {
  border: 1px solid blue;
}

.tv-drama-text {
  font-size: 18px;
  width: 50%;
  border: 1px solid pink;
  line-height: 1.5;
  text-align: left;
}

/* story text + video texts */

.about-show-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* FLIGHT MAP ELEMENTS */
.flight-maps {
  border: 1px solid blue;
}

.interactive-map {
  border: 1px solid pink;
  height: 400px;
}

/* ABOUT NAVIGATION - DETAILS ELEMENTS */
.about-navigations {
  border: 1px solid blue;
  /* width: 100%; */
  /* height: 400px; */
}

.nav-columns {
  display: flex;
  justify-content: space-between;
}

.nav-information {
  width: 30%;
  height: 400px;
  border: 1px solid pink;
}

/* STAFF STORIES ELEMENTS */
.staff-stories {
  border: 1px solid blue;
}

/* story text + video texts */

/* WORK FOR RFDS ELEMENTS */
.working-for-rfds {
  border: 1px solid blue;
  height: 200px;
}

.join-team-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* CHARITY STAMPS ELEMENTS */

.stamps-content {
  border: 1px solid blue;
  margin: 0 auto;
}

.stamps-image img {
  max-width: 60%;
}

/* FOOTER ELEMENTS */
footer {
  border: 1px solid blue;
  /* height: 350px; */
}

/* .newsletter-sign-up */

.newsletter-form {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid pink;
}

/* .social-media */

/* .social-media-links */

/* .footer-text */

/* .footer-bottom-text */

/* .footer-credits */
