body {
  text-align: center;
  font-family: "museo-sans", "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: #444444;
  font-size: 19px;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: #444444;
}

p {
  line-height: 1.6;
}

.main-content {
  padding-left: 80px;
  padding-right: 80px;
}

.fixed-width {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  /* display: flex; */
  /* height: 200px; */
}

a {
  color: #444444;
  text-decoration: none;
}

/* HEADER ELEMENTS */
header {
  /* border: 1px solid blue; */
  background-image: url(../src/images/Header_The_Biggest_Waiting_Room.png);
  height: 400px;
  /* width: 100%; */
  background-size: cover;
  padding: 20px;
  background-position: center;
}

.header-links {
  display: flex;
  align-items: center;
  /* align-content: center; */
}

.home-button {
  margin: 0;
  padding: 0 25px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.home-button a {
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  /* border: 1px solid pink; */
  width: 300px;
  display: block;
  margin: 0 auto;
}

/*unsure if display: block is necessary? */

.logo-image {
  /* height: 95px; */
  display: block;
}

.pseudo-element {
  color: transparent;
}

/* NAV BUTTON ELEMENTS */
.navigation-buttons {
  /* border: 1px solid blue; */
  /* max-width: 80%; */
  display: flex;
  justify-content: space-evenly;
}
/* NEED TO CHANGE WITH FLEX! */

.nav-button {
  border: 1px solid #0099cc;
  /* width: 160px;
  height: 50px; */
  padding: 15px 40px 15px 40px;
  border-radius: 100px;
}

/* ABOUT ELEMENTS */

/* .about {
  border: 1px solid blue;
} */

.about-overview {
  /* border: 1px solid pink; */
  padding-top: 15px;
  padding-left: 170px;
  padding-right: 170px;
  /* height: 200px; */
  margin-top: 80px;
}

h1 {
  font-size: 41px;
}

.about-overview p {
  font-size: 25px;
  line-height: 1.5;
}

.about-video {
  border: 1px solid pink;
  height: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.story-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  /* height: 500px; */
  /* border: 1px solid pink; */
}
.story-text {
  /* height: 300px; */
  width: 50%;
  border: 1px solid pink;
}

.story-text p {
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
  padding: 60px;
}

.story-video {
  /* height: 300px; */
  width: 50%;
  border: 1px solid pink;
}

.story-video img {
  width: 100%;
}

.learn-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* TV DRAMA ELEMENTS */

/* .tv-drama {
  border: 1px solid blue;
} */

.tv-drama-text {
  font-size: 18px;
  width: 50%;
  border: 1px solid pink;
  line-height: 1.5;
  text-align: left;
}

.tv-drama-text p {
  padding: 60px;
}

/* story text + video texts */

.about-show-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* FLIGHT MAP ELEMENTS */

/* .flight-maps {
  border: 1px solid blue;
} */

.interactive-map {
  border: 1px solid pink;
  height: 400px;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* ABOUT NAVIGATION - DETAILS ELEMENTS */

/* .about-navigations {
  border: 1px solid blue;
  width: 100%;
  height: 400px;
} */

.nav-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.nav-information {
  width: 30%;
  height: 400px;
  border: 1px solid pink;
}

.nav-information a {
  display: inline-block;
}

/* STAFF STORIES ELEMENTS */

/* .staff-stories {
  border: 1px solid blue;
} */

/* story text + video texts */

/* WORK FOR RFDS ELEMENTS */

.working-for-rfds {
  /* border: 1px solid blue; */
  /* height: 200px; */
  padding-top: 20px;
  padding-left: 170px;
  padding-right: 170px;
  margin-bottom: 80px;
}

.join-team-button {
  border: 1px solid pink;
  width: 225px;
  height: 53px;
  margin: 0 auto;
}

/* CHARITY STAMPS ELEMENTS */

.stamps-content {
  /* border: 1px solid blue; */
  margin: 80px 0 80px 0;
}

.stamps-image img {
  max-width: 60%;
}

/* FOOTER ELEMENTS */
footer {
  font-size: 17px;
  /* border: 1px solid blue; */
  /* height: 350px; */
}

/* .newsletter-sign-up */

footer h3 {
  font-size: 25px;
  margin: 30px 0 0 0;
}

.newsletter-form {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid pink;
}

/* .social-media */

/* .social-media-links */

.footer-text {
  margin: 30px 0 0 0;
}

.footer-bottom-text {
  margin-top: 50px;
}

/* .footer-navigation a {
  text-align: left;
} */

.footer-links {
  float: left;
}

.footer-navigation p {
  display: inline;
  text-align: right;
}

.footer-abn {
  float: right;
  margin-right: 30px;
}

.footer-credits {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
}
